<div class="container mt-5">
    <section class="content text-center">
        <div class="container-fluid">
            
                    <h1>Add User</h1>
                
        </div>
    </section>
    <div class="card card-info mt-5">
        <div class="card-body">

            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="input-group col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Phone">
                </div>
            </div>
            <div class="row mb-2">
                <div class="input-group mt-2 col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="input-group mt-2 col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Your CPF">

                </div>
            </div>

            <div class="row mb-2">
                <div class="input-group col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Salary">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="input-group col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Your Address">
                </div>
                <div class="input-group col-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-flag"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Your Country">
                </div>
            </div>
            <div class="row mb-2">
                <div class="input-group col-5">
                    <button type="button" class="btn btn-block bg-gradient-secondary btn-lg">Add <i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>